.cursor-pointer {
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2196F3;
}

@media (max-width: 768px) {
    .card {
        margin: 15px;
        border-radius: 15px !important;
    }

    .p-5 {
        padding: 2rem !important;
    }
}